#title {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    height: 80px !important;
    width: 80px !important;
    margin: 5px 0 5px 0;
}

.chart_td {
    display: flex;
    justify-content: center;
}

table tr,
table th {
    border: 5px double black;
    font-size: 20px;
}

table td {
    border-right: 5px double black;
}

.chart_td {
    border-right: 0px double black;
}

#personal_image {
    width: 20em;
    border-style: outset solid solid outset;
    border-width: 20px;
    border-top-color: #f5dd53;
    border-left-color: #faa82d;
    border-bottom-color: #a75c0c;
    border-right-color: #cd8108;
    box-shadow: 5px 5px 5px gray;
}

div hr {
    border-top: 20px double #000000;
}
#title_hr{
    border-top: 5px solid #000000;
}