.card-column{
    display: flex;
    justify-content:center;
    align-items: center;
}
.card{
    width: 20vw;
    padding: 5px;
}
.card-img{
    width: 300px;
    height: 200px;
}

#unity_hr{
    height: 5px;
    background-color: gray;
}
.card-text{
    height: 100px;
}


@media only screen and (max-width:1200px){
    .card{
        width: 70vw;
        margin-top: 10px;
    }
    .d-flex{
        flex-direction: column;
    }
    .my-3{
        margin-top: 0;
        margin-bottom: 0;
    }
    .col-12{
        margin-top: 50px;
    }
}